<!--
body {
	font-size: small;
	color: #536482; /* couleur gnral de texte*/
}
fieldset {
	margin: 15px 0;
	padding: 10px;
	border-top: 1px solid #D7D7D7;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #D7D7D7;
	background-color: #EFEFEF;
	position: relative;
}
legend {
	padding: 1px 0;
	font-family: Tahoma,arial,Verdana,Sans-serif;
	font-size: .9em;
	font-weight: bold;
	color: #115098;
	margin-top: -.4em;
	position: relative;
	text-transform: none;
	line-height: 1.2em;
	top: 0;
	vertical-align: middle;
}
legend { top: -1.1em; }
fieldset dl {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.00em;
	margin:0
}
fieldset dt {
	float: left;
	width: auto;
}
fieldset dd {
	font-size: small;
}
fieldset dt label {
	font-size: 1.00em;
	text-align: left;
	font-weight: bold;
	color: #4A5A73;
}
fieldset dd input {
	font-size: 1.00em;
	max-width: 100%;
}
fieldset dd select {
	font-size: 100%;
	width: auto;
	max-width: 100%;
}
fieldset dd textarea {
	font-size: 0.90em;
	width: 0%;
}
fieldset dd select {
	width: auto;
	font-size: 1.00em;
}
fieldset dl {
	margin-bottom: 10px;
	font-size: 0.85em;
}
fieldset dt {
	width: 45%;
	text-align: left;
	border: none;
	border-right: 1px solid #CCCCCC;
	padding-top: 3px;
}
fieldset dd {
	margin: 0 0 0 45%;
	padding: 0 0 0 5px;
	border: none;
	border-left: 1px solid #CCCCCC;
	vertical-align: top;
	font-size: 1.00em;
}
input, textarea {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.90em;
	font-weight: normal;
	cursor: text;
	vertical-align: middle;
	padding: 2px;
	color: #111111;
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #D5D5C8;
	border-bottom: 1px solid #D5D5C8;
	background-color: #FFFFFF;
}
input:hover, textarea:hover {
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #AFAEAA;
	border-bottom: 1px solid #AFAEAA;
	background-color: #E9E9E2;
}
fieldset dl:hover dt, fieldset dl:hover dd {
	border-color: #666666;
}
fieldset dl{
	height: 1%;
	overflow: hidden;
}
label {
	cursor: pointer;
	font-size: 0.85em;
	padding: 0 5px 0 0;
}
-->